<template>
  <div>
    <h3>Fixtures</h3>
    <Fixture v-for="(fixture, index) in fixtures" :key="index" :fixture="fixture" />
  </div>
</template>

<script>
import Team from '~/components/Team.vue'
import Fixture from '~/components/Fixture.vue'
export default {
  components: {Team, Fixture},
  computed: {
    teamId() {
      return this.$route.params.id
    },
    fixtures() {
      return this.$store.getters.getTeamsFixtures(this.teamId)
    }
  },
  async fetch({ store }) {
    await store.dispatch('fetchCore')
  }
}
</script>
