<template>
  <div>
    {{ homeTeam.name }} vs. {{ awayTeam.name }}
    <br>
    {{ date }} - {{ until }}
  </div>
</template>

<script>
import Moment from 'moment'
export default {
  props: ['fixture'],
  computed: {
    local() {
      return new Date(this.fixture.start)
    },
    homeTeam() {
      return this.$store.getters.getTeam(this.fixture.home_team_id)
    },
    awayTeam() {
      return this.$store.getters.getTeam(this.fixture.away_team_id)
    },
    date() {
      return Moment(this.local).format('dd D MMM YY h[:]mm A')
    },
    until() {
      return Moment(this.fixture.start).fromNow()
    }
  }
}
</script>

<style scoped=true>
  div {
    margin: 10px 0;
  }
</style>
