<template>
  <div>
    <h1>{{team.name}}</h1>
    <img v-if="team.crestUrl" :src="team.crestUrl">
  </div>
</template>

<script>
export default {
  props: ['team']
}
</script>

<style>
  img {
    max-width: 100px;
    border: 1px dotted black;
  }
</style>
