<template>
  <div>
    <header>
      <nuxt-link to=/><h1>world cup!</h1></nuxt-link>
      <ul class=nav>
        <li><nuxt-link to='/'>teams</nuxt-link></li>
        <li><nuxt-link to='/fixtures'>fixtures</nuxt-link></li>
      </ul>
    </header>
    <nuxt/>
  </div>
</template>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

header {
  background: lightgreen;
}

</style>
