<template>
  <Fixture :fixture='fixture' />
</template>

<script>
import Fixture from '~/components/Fixture.vue'
export default {
  components: {Fixture},
  computed: {
    fixture() {
      return this.$store.state.core.fixtures.find(f => f.id == this.$route.params.id)
    }
  },
  async fetch({ store }) {
    await store.dispatch('fetchCore')
  }
}
</script>
