<template>
  <div>
    <div v-for="(fixture, index) in $store.state.core.fixtures" :key="index">
      <nuxt-link :to="'fixtures/'+fixture.id">Match {{ index + 1 }}</nuxt-link>
      <br>
      {{ getTeam(fixture.home_team_id).name }} vs {{ getTeam(fixture.away_team_id).name }}
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    getTeam(id) {
      return this.$store.getters.getTeam(id)
    }
  },
  async fetch({ store }) {
    await store.dispatch('fetchCore')
  }
}
</script>

