<template>
  <section class="container">
    <div>
      <h2>teams</h2>
      <div v-for="(team, index) in $store.state.core.teams" :key="index">
        <nuxt-link :to="'/teams/'+team.id">
          <h2>{{ team.name }}</h2>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
import Team from '~/components/Team.vue'
import axios from 'axios'

export default {
  components: {
    AppLogo, Team
  },
  async fetch({ store }) {
    await store.dispatch('fetchCore')
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
}

.title {
  font-family: sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
